@model IEnumerable<HRS.Models.RoomTypes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.room_type_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hotels.HotelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room_description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.room_type_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hotels.HotelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room_description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.room_type_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.room_type_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.room_type_id })
        </td>
    </tr>
}

</table>
